html {
    background: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}



/* Header styles */

header {
    background-color: #fff;
    /* margin-bottom: 20px; */
    border-bottom: 1px solid #e9e6e6;
    height: 70px;
    padding: 0 5px;
    /* border: 3px solid red;  */
}
h1 {
    color:  #C70039;
    float: left;
    padding-top: 10px;
}

nav, h1 {
    display: inline;
    
}

nav {
    /* height: 100%; */
    float: right;
    padding-top: 45px;
}

nav a {
    text-transform: uppercase;
    border-left: solid 2px #f7f7f7;
    padding: 0 5px 0 5px;
}

nav a:hover {
    background-color: #c70039;
    color: #f4f4f4;
}

.selected {
    text-decoration: underline;
    text-decoration-color: #C70039;
    color: #C70039;
}
section {
    margin: auto;
    width: 80%;
    padding: 10px;
}

h2 {
    text-align: center;
}

a img {
    height: 15px;
    width: auto;
    display: inline;
    vertical-align: middle;
}

h3 {
    display: inline;
    padding-top: 25px;
}

h4 {
    text-transform: uppercase;
    color:#C70039;
}

.sub-card-heading {
    color:lightgrey;
}

/* Card Styles */
.card-deck{
    margin: auto;
    width: 100%;
    padding-left: 80px;
}

.card {
    /* border: 3px dotted purple; */
    width: 26%;
    padding: 10px;
    display: inline-block;
    /* vertical-align: middle; */
    margin: 0 5px 20px;
    height: 350px;
    text-align: left;
    box-shadow: 0px 0px 10px darkgrey;
    background-color: #fff;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    padding-bottom:20px;

}

.card h2 {
    display: inline-block;
}

footer {
    background-color: #fff;
    height: 40px;
    text-align: center;
    padding-top: 20px;
}

